
body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image: url("file:///G:/Led%20Zeppelin/01.%20Studio%20albums/06.%20Physical%20Graffiti%20(1975)/Physical%20Graffiti.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}